src
tests
jest.config.js
tsconfig.json
.vscode
.github
.gradle
node_modules
scripts
.idea
.vscode
coverage
tslint.json
tsconfig.json
MakeFile
jest.config.js
.npmignore
.eslintignore
.huskyrc.js
.eslintrc.json
examples