src
tests
tsconfig.json
.vscode
.github
.gradle
node_modules
scripts
.idea
.vscode
coverage
tslint.json
tsconfig.json
MakeFile
jest.config.cjs
.npmignore
.eslintignore
.huskyrc.js
.eslintrc.json
examples
tsconfig.tsbuildinfo