site_name: Powertools for AWS Lambda (TypeScript)
site_description: Powertools for AWS Lambda (TypeScript)
site_author: Amazon Web Services
repo_url: https://github.com/aws-powertools/powertools-lambda-typescript
edit_uri: edit/main/docs

nav:
  - Homepage:
      - index.md
      - Changelog: changelog.md
      - API reference: api/" target="_blank
      - Upgrade guide: upgrade.md
      - We Made This (Community): we_made_this.md
      - Roadmap: roadmap.md
      - Features:
          - core/tracer.md
          - core/logger.md
          - core/metrics.md
          - utilities/parameters.md
          - utilities/idempotency.md
          - utilities/batch.md
          - utilities/jmespath.md
  - Processes:
      - Roadmap: roadmap.md
      - Versioning policy: versioning.md
      - Maintainers: maintainers.md
      - Contributing:
          - Development environment: contributing/setup.md
          - Your first contribution: contributing/getting_started.md
          - Conventions: contributing/conventions.md
          - Testing: contributing/testing.md

theme:
  name: material
  font:
    text: Ubuntu
  palette:
    - scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.sections
    - navigation.top
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - navigation.tabs
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
  icon:
    repo: fontawesome/brands/github
  logo: media/aws-logo-light.svg
  favicon: media/aws-logo-light.svg
  custom_dir: docs/overrides

markdown_extensions:
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "."
      check_paths: true
      restrict_base_path: false
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true

copyright: Copyright &copy; 2023 Amazon Web Services

plugins:
  - git-revision-date
  - search
  - exclude:
      glob:
        - snippets/node_modules/*
        - snippets/package.json
        - snippets/CHANGELOG.md

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascript/aws-amplify.min.js
  - javascript/extra.js

extra:
  version:
    provider: mike
    default: latest
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/aws-powertools/powertools-lambda-typescript
    - icon: fontawesome/brands/discord
      link: https://discord.gg/B8zZKbbyET
      name: Join our Discord Server!
