name: Docs v2 Publish (merge)

on:
  push:
    branches:
      - feat/v2
    paths:
      - "docs/**"
      - "mkdocs.yml"

permissions:
  contents: read
  
jobs:
  release-docs:
    permissions:
      contents: write
      pages: write
      id-token: write
    secrets: inherit
    uses: ./.github/workflows/reusable-publish-docs.yml
    with:
      version: next
      alias: next
      detached_mode: false