name: Auto publish docs to version "develop"

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'mkdocs.yml'
      - '.github/workflows/on-docs-change.yml'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2.3.1
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          pip install --upgrade pip 
          pip install mike==1.1.2 mkdocs-material==8.0.5 mkdocs-git-revision-date-plugin==0.3.1
      - name: Setup doc deploy
        run: |
          git config --global user.name Docs deploy
          git config --global user.email docs@dummy.bot.com
      - name: Build docs website and (TODO) API reference 
        run: |
          VERSION="develop"
          ALIAS="stage"
          mkdocs build
          mike deploy --push --update-aliases "$VERSION" "$ALIAS"
      - name: Deploy all docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          keep_files: true
          destination_dir: develop/api 