name: release
on:
  push:
    branches:
      - main
  workflow_dispatch: {}
jobs:
  publish:
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: "Use NodeJS 14"
      uses: actions/setup-node@v2
      with:
        node-version: '14'
  
    - name: Install packages
      run: |
        npm ci
        npm run lerna-ci

    # - name: "Setup npm"
    #   run: |
    #     npm set @xcanchal:registry=https://npm.pkg.github.com/xcanchal
    #     npm set "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}"

    - name: "Version and publish"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor}}@users.noreply.github.com"

        if [ ${{ github.base_ref }} = main ]; then
          npx lerna version --conventional-commits --create-release github --yes
        else
          npx lerna version --conventional-commits --conventional-prerelease --preid beta --create-release github --yes
        fi

        # npx lerna publish from-git --yes

  slack:
    name: Publish to slack channel
    needs: 
      - publish
    runs-on: ubuntu-latest
    steps:
      - name: publish latest release
        env:
          SLACK_URL: ${{ secrets.SLACK_URL }}
        run: |
          curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/${{ github.repository }}/releases/latest > release.json
          VERSION=$( jq -r '.name' release.json )
          CONTENT=$( jq -r '.body' release.json )
          jq -n --arg version "$VERSION" --arg content "$CONTENT" '{"release-version": $version, "release-content": $content}' > body.json
          curl --location --request POST $SLACK_URL \
          --header 'Content-Type: application/json' --data @body.json