name: Deploy layer to all regions

permissions:
  contents: read

on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      latest_published_version:
        description: "Latest npm published version to rebuild corresponding layer for, e.g. 1.0.2"
        default: "1.0.2"
        required: true

  workflow_call:
    inputs:
      latest_published_version:
        type: string
        description: "Latest npm published version to rebuild latest docs for, e.g. 2.0.0, 2.0.0a1 (pre-release)"
        required: true
      pre_release:
        description: "Publishes documentation using a pre-release tag (2.0.0a1)."
        default: false
        type: boolean
        required: false

jobs:
  # Build layer by running cdk synth in layer-publisher directory and uploading cdk.out for deployment
  build-layer:
    runs-on: ubuntu-latest
    if: ${{ (github.event.workflow_run.conclusion == 'success') || (github.event_name == 'workflow_dispatch') }}
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.sha }}
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"
      - name: Setup dependencies
        uses: aws-powertools/actions/.github/actions/cached-node-modules@29979bc5339bf54f76a11ac36ff67701986bb0f0
      - name: CDK build
        run: npm run cdk -w layers -- synth --context PowertoolsPackageVersion=${{ inputs.latest_published_version }} -o cdk.out
      - name: Zip output
        run: zip -r cdk.out.zip layers/cdk.out
      - name: Archive CDK artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cdk-layer-artifact
          path: cdk.out.zip

  # Deploy layer to all regions in beta account
  deploy-beta:
    needs:
      - build-layer
    uses: ./.github/workflows/reusable_deploy_layer_stack.yml
    permissions:
      id-token: write
      contents: read
    with:
      stage: "BETA"
      artifact-name: "cdk-layer-artifact"
      latest_published_version: ${{ inputs.latest_published_version }}
    secrets:
      target-account-role: ${{ secrets.AWS_LAYERS_BETA_ROLE_ARN }}

  # Deploy layer to all regions in prod account
  deploy-prod:
    needs:
      - deploy-beta
    uses: ./.github/workflows/reusable_deploy_layer_stack.yml
    permissions:
      id-token: write
      contents: read
    with:
      stage: "PROD"
      artifact-name: "cdk-layer-artifact"
      latest_published_version: ${{ inputs.latest_published_version }}
    secrets:
      target-account-role: ${{ secrets.AWS_LAYERS_PROD_ROLE_ARN }}

  update_layer_arn_docs:
    needs: [deploy-prod]
    # Force Github action to run only a single job at a time (based on the group name)
    # This is to prevent race-condition and inconsistencies with changelog push
    concurrency:
      group: changelog-build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: none
    steps:
      - name: Checkout repository # reusable workflows start clean, so we need to checkout again
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          ref: ${{ github.sha }}
      - name: Replace layer versions in documentation
        run: |
          ./.github/scripts/update_layer_arn.sh ${{ needs.deploy-prod.outputs.layer-arn }}
      - name: Stage changes
        run: git add .
      - name: Create PR
        id: create-pr
        uses: aws-powertools/actions/.github/actions/create-pr@da5bcb1a3d22f87bc48b570c818d26f44c0fc960 # v1.3.0
        with: 
          temp_branch_prefix: 'ci-layer-docs'
          pull_request_title: 'chore(ci): update layer ARN on documentation'
          github_token: ${{ secrets.GITHUB_TOKEN }}
