name: Publish Package

# This workflow publishes a single package to NPM

on:
  workflow_dispatch:
    inputs:
      package:
        description: 'The package to publish'
        type: choice
        required: true
        options:
          - packages/batch
          - packages/commons
          - packages/idempotency
          - packages/jmespath
          - packages/logger
          - packages/metrics
          - packages/tracer
          - packages/parameters
          - packages/parser

permissions:
  contents: read


jobs:
  run-unit-tests:
    uses: ./.github/workflows/reusable-run-linting-check-and-unit-tests.yml
  publish-npm:
    needs: run-unit-tests
    permissions:
        id-token: write
    environment: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          ref: ${{ github.sha }}
      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          registry-url: 'https://registry.npmjs.org'
      - name: Setup auth tokens
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm set "//registry.npmjs.org/:_authToken=$NPM_TOKEN"
      - name: Setup dependencies
        uses: aws-powertools/actions/.github/actions/cached-node-modules@29979bc5339bf54f76a11ac36ff67701986bb0f0
      - name: Publish to npm
        run: |
          npm publish --workspace ${{ github.event.input.package }} --provenance
