name: Record PR details

# PROCESS
#
# 1. Runs in fork location upon PR creation or changes
# 2. Saves GitHub Pull Request Webhook payload
# 3. Uploads as a temporary GitHub Action Artifact with shortest retention

# USAGE
#
# see .github/workflows/on_merged_pr.yml and related for full example.
#
# on:
#   workflow_run:
#     workflows: ["Record PR details"]
#     types:
#       - completed
#
# Security Note:
#
#   For security, this is intended to be a 2-step process: (1) collect PR, (2) act on PR.
#   Do not ever use `pull_request_target` to "simplify", as it sends a write-token to the fork. Our linter should catch it.
#
#   The first step runs in untrusted location (fork), therefore we limit permissions to only check out code.
#
#   The second step will be workflows that want to act on a given PR, this time with intended permissions, and
#   it runs on its base location (this repo!).
#
#   This enforces zero trust where this workflow always runs on fork with zero permissions on GH_TOKEN.
#   When this workflow completes, X workflows run in our repository with the appropriate permissions and sanitize inputs.
#
#   Coupled with "Approve GitHub Action to run on forks", we have confidence no privilege can be escalated,
#   since any malicious change would need to be approved, and upon social engineering, it'll have zero permissions.


on:
  pull_request:
    types: [opened, edited, closed, labeled]

permissions:
  contents: read

jobs:
  record_pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read  # NOTE: treat as untrusted location
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: "Extract PR details"
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('.github/scripts/save_pr_details.js')
            await script({github, context, core})
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pr
          path: pr.txt
          retention-days: 1