name: Run e2e Tests

on:
  workflow_dispatch:
    inputs:
      prNumber:
        description: '(Optional) PR Number. If you specify a value the value of the branch field will be ignored.'
        required: false
        default: ''

permissions:
  contents: read

jobs:
  run-e2e-tests-on-utils:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: dev
      PR_NUMBER: ${{ inputs.prNumber }}
    permissions:
      id-token: write # needed to interact with GitHub's OIDC Token endpoint.
      contents: read
    strategy:
      max-parallel: 30
      matrix:
        package:
          [
            layers,
            packages/logger,
            packages/metrics,
            packages/tracer,
            packages/parameters,
            packages/idempotency,
          ]
        version: [18, 20, 22]
        arch: [x86_64, arm64]
      fail-fast: false
    steps:
      - name: Checkout Repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # If we pass a PR Number when triggering the workflow we will retrieve the PR info and get its headSHA
      - name: Extract PR details
        id: extract_PR_details
        if: ${{ inputs.prNumber != '' }}
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const script = require('.github/scripts/get_pr_info.js');
            await script({github, context, core});
      # Only if a PR Number was passed and the headSHA of the PR extracted,
      # we checkout the PR at that point in time
      - name: Checkout PR code
        if: ${{ inputs.prNumber != '' }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ steps.extract_PR_details.outputs.headSHA }}
      - name: Setup NodeJS
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: '22'
      - name: Setup dependencies
        uses: aws-powertools/actions/.github/actions/cached-node-modules@29979bc5339bf54f76a11ac36ff67701986bb0f0
        with:
          nodeVersion: '22'
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_TO_ASSUME }}
          aws-region: eu-west-1
          mask-aws-account-id: true
      - name: Run integration tests on utils
        env:
          RUNTIME: nodejs${{ matrix.version }}x
          CI: true
          ARCH: ${{ matrix.arch }}
          JSII_SILENCE_WARNING_DEPRECATED_NODE_VERSION: true
          RUNNER_DEBUG: ${{ env.RUNNER_DEBUG }}
        run: npm run test:e2e -w ${{ matrix.package }}