# SSM Parameters update
#
# PROCESS
# Creates parameters in regional AWS accounts for each layer we create, using the inputs to target specific releases
# * environment: will prefix /beta/ into the parameter
# * write_latest: will create a latest alias instead of a version number in the parameter
# * package_version: semantic version number of the released layer (3.x.y)
# * layer_version: this is sequential layer version from the ARN
#
# A successful parameter would look similar to:
#   /aws/service/powertools/python/arm64/python3.8/3.1.0
# And will have a value of:
#   arn:aws:lambda:eu-west-1:094274105915:layer:AWSLambdaPowertoolsPythonV3-python38-arm64:4

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        type: choice
        options:
          - Beta
          - Prod
        required: true

      write_latest:
        description: Write to the latest path
        type: boolean
        required: false

      package_version:
        description: Semantic Version of published layer
        type: string
        required: true

      layer_version:
        description: Layer version
        type: string
        required: true

name: SSM Parameters
run-name: SSM Parameters - TypeScript

permissions:
  contents: read

jobs:
  typescript:
    runs-on: ubuntu-latest
    environment: SSM
    strategy:
      matrix:
        region: [
          "af-south-1", 
          "eu-central-1", 
          "eu-central-2",
          "us-east-1",
          "us-east-2", 
          "us-west-1", 
          "us-west-2", 
          "ap-east-1", 
          "ap-south-1", 
          "ap-south-2", 
          "ap-northeast-1", 
          "ap-northeast-2", 
          "ap-northeast-3",
          "ap-southeast-1", 
          "ap-southeast-2", 
          "ap-southeast-3",
          "ap-southeast-4", 
          "ap-southeast-5",
          "ap-southeast-7",
          "ca-central-1", 
          "ca-west-1", 
          "eu-west-1", 
          "eu-west-2", 
          "eu-west-3",
          "eu-south-1", 
          "eu-south-2", 
          "eu-north-1", 
          "sa-east-1", 
          "me-south-1", 
          "me-central-1", 
          "il-central-1", 
          "mx-central-1"
        ]

    permissions:
      contents: write
      id-token: write
    steps:
      - id: transform
        run: |
          echo 'CONVERTED_REGION=${{ matrix.region }}' | tr 'a-z\-' 'A-Z_' >> "$GITHUB_OUTPUT"
      - id: creds
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722
        with:
          aws-region: ${{ matrix.region }}
          role-to-assume: ${{ secrets[format('{0}', steps.transform.outputs.CONVERTED_REGION)] }}
          mask-aws-account-id: true
      - id: write-version
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/beta' || '/aws/service/powertools' }}
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/typescript/generic/all/${{ inputs.package_version }} --value "arn:aws:lambda:${{ matrix.region }}:094274105915:layer:AWSLambdaPowertoolsTypeScriptV2:${{ inputs.layer_version }}" --type String --overwrite

      - id: write-latest
        if: inputs.write_latest == true
        env:
          prefix: ${{ inputs.environment == 'beta' && '/aws/service/powertools/beta' || '/aws/service/powertools' }}
        run: |
          aws ssm put-parameter --name ${{ env.prefix }}/typescript/generic/all/latest --value "arn:aws:lambda:${{ matrix.region }}:094274105915:layer:AWSLambdaPowertoolsTypeScriptV2:${{ inputs.layer_version }}" --type String --overwrite
